{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <!--Header -->
        <div class="col">
            <h1 class="text-center">Pillbug - Twilio REST SERVER</h1>
        </div>
    </div>
    <div class="row">
        <!--Header -->
        <div class="col">
            <form>
                <div class="form-group">
                    <label for="phone_number_input">Phone Number</label>
                    <input type="text" class="form-control" id="phone_number_input">
                </div>
                <div class="form-group">
                    <label for="sms_message_input">SMS Message</label>
                    <textarea class="form-control" id="sms_message_input" rows="3"></textarea>
                </div>
                <button type="button" id="btn-send" class="btn btn-primary" disable>Send</button>
            </form>
        </div>
        <div class="w-100"></div>
        <div class="col mt-3" id="response_area" style="display:none;">
            <h2>Response:</h2>
            <textarea class="form-control" id="response_textarea" rows="10"></textarea>
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/twilio.js') }}"></script>
{% endblock %}